body {
    font-family:'cardo', serif;
    margin: 0;
  }
  
  .header {
    padding: 40px;
    text-align: center;
    background-image: url("../media/darkleaves.jpg");
    background-color:#016064;
    background-blend-mode:luminosity;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
    font-family: 'PT Sans Caption', sans-serif;
  }

  /*navbar sticky*/
  .navbar {
    overflow: hidden;
    background-color: #000000;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  /* Style navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    
  }
  
 /* Change color when hover */
 .navbar a:hover {
  background-color: #555;
  color: white;
}

/* Active link */
.navbar a.active {
  background-color:#016064;
  color: white;
}

  /* first section*/
  .intro{
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    font-size:medium;
    text-align: center;
  }

  *{box-sizing: border-box; -webkit-box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; font: 16px/1.3 sans-serif; }

.transition {
	position: relative;
	overflow: hidden;
	height: 10%; 
}

/* SLIDER */

.transition .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/*TEXT ATTRIBUTES*/
.transition .slider .a{
    padding-left: 20px ;
    padding-right: 20px;
    color: rgb(255, 255, 255);
}

.transition .slider .b{
    padding-left: 20px ;
    padding-right: 20px;
    color: rgb(0, 0, 0);
}

.transition .slider .c{
    padding-left: 20px ;
    padding-right: 20px;
    color: rgb(255, 255, 255);
}
.transition .slider .d{
    padding-left: 20px ;
    padding-right: 20px;
    color: rgb(0, 0, 0);
}

/* SLIDES */
.transition .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

/* PREV/NEXT*/

.transition .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}

.transition .prevNext > div+div {
	visibility: hidden; 
}

.transition .prevNext a {
	background: #fff;
	position: absolute;
	width:       40px;
	height:      40px;
	line-height: 40px; 
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
}
.transition .prevNext a:hover {
	opacity: 1;
}
.transition .prevNext a+a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

.transition .bullets {
	position: absolute;
	z-index: 1;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
.transition .bullets > a {
	display: inline-block;
	width:       30px;
	height:      30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.transition .bullets > a+a {
	background: rgba(255, 255, 255, 0.5); 
}
.transition .bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */

.transition >s:target ~ .bullets >* { background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgb(255, 255, 255);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgb(255, 255, 255);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgb(255, 255, 255);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgb(255, 255, 255);}

/* PREV/NEXT CONTAINERS VISIBILITY */
.transition >s:target ~ .prevNext >* {visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}


.transition{
	color: #fff;	
	text-align: center;
}
.transition .slider h2 {
	margin-top: 40vh;
	font-weight: 200;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 3em;
}


.transition a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(23, 235, 16, 0.8);
	text-decoration: none;
}

/*PAGE DIVIDERS*/

body {
  margin:0px;
}
.colour-block {
  background:#014d50;
  width:100%;
  height: auto;
  padding:7% 20% 10% 20%;
  color:#fff;
}
.white-block {
  background:#fff;
  width:100%;
  padding:7% 20% 10% 20%;
  color:#014d50;
}
h1 {
  text-align:center;
  padding-bottom: 20px;
  font-size:50px;
  font-weight:normal;
}
p {
  font-size:20px;
  text-align: center;
}


.skew-cc{
  width:100%;
  height:100px;
  position:-webkit-sticky;
  left:0px;
  background: linear-gradient(to right bottom, #014d50 49%, #fff 50%),    
  linear-gradient(-50deg, #ffffff 16px, #000 0);
}

.skew-c{
  width:100%;
  height:10px;
  position:-webkit-sticky;
  left:0px;
  background: linear-gradient(to left bottom, #ffffff 49%, #ffffff 50%);
}

/*END PAGE DIVIDERS*/

/* first section*/

.intro-heading{
  text-align: center;
  padding-top: 60px;
  font-size: 3em;
  margin: 1%;

}

.intro-para{
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size:medium;
  text-align: center;
}

.intro-para2{
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  font-size:medium;
  text-align: center;
}
/* first section END*/

/*CARDS*/
.ves .card-body{
  padding-top: 20px;
  padding-bottom: 20px;
}

.card{
  margin: 10px auto;
  box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.2);
  border-radius: 6px;
  transition: 0.3s;
  height: 100%;
}
.card:hover {
box-shadow: 1px 10px 16px 0 rgba(0,0,0,0.3);
}
.card-title{
  text-align: center;
  color: #666666;
  font-size: 25px;
  font-weight: bold;
}

.card-image{
  text-align:center;
}
.card-text{
  font-weight: 500;
  color: #66686b;
  text-align: center;
  padding-bottom: 10px;
  
}

.title-heading{
  font-size: 3em;
  text-align: center;
  margin: 1%;

}
/*CARDS END*/


/* footer*/

.footer{
  background-color: #24262b;
  padding: 70px 0;
  bottom: 0;
  width: 100%;
  
}
.container{
  max-width: 1170px;
  margin: auto;
  
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.footer ul{
  list-style: none;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3 ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 10px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color:rgba(255, 255, 255, 0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

*{
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  
}

@media(max-width:577px) 
{
  .footer-col
  {
       width:50%;
       margin-bottom:30px;
  }
}
