.header {
  padding: 40px;
  text-align: center;
  background-image: url("../media/darkleaves.jpg");
  background-color:#016064;
  background-blend-mode:luminosity;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
  font-family: 'PT Sans Caption', sans-serif;
}

/*navbar sticky*/
.navbar {
  overflow: hidden;
  background-color: #000000;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Style navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  
}
/* Change color when hover */
.navbar a:hover {
  background-color: #555;
  color: white;
}

/* Active link */
.navbar a.active {
  background-color:#016064;
  color: white;
}

body, html {
    height: 100%;
  }
  .bg {
    /* The image used */
    background-image: url(../media/bg4.jpg);
  
    /* Full height */
    height: 100%;
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');
  .title{
width: 100%;
display: flex;
font-size: 22px;
color: darkgray;
font-family: 'Urbanist', sans-serif;
text-transform: uppercase;
letter-spacing: 1.5px;
padding: 30px;
}
.title h1::after{
  content: "";
  height: 3px;
  width: 22  0px;
  border-radius: 06px;
  position: relative; 
  display: block;
  margin: auto;
  background-color: aliceblue;
}
/* Center and scale content nicely */
.content{
  width: 85%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  margin: 30px auto;
}

.article{
  margin: 30px;
  background-color: rgb(155, 146, 146);
  opacity: 0.7;
  padding: 25px 25px;
}

.content .article h2{
  color: #000000;
  text-align: center;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 1px;

}
.content .article p{
  margin-top: 30px;
  font-size: 19px;
  font-style: inherit;
  text-align: center;
  line-height: 1.5;
  color:rgb(7, 6, 6);
}
.image-section{
  width: 100%;
  margin: 30px;
}
.image-section img{
  width: 75%;
  height: auto;
}

  *{

    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

}
.container{
    max-width: 1170px;
    margin: auto;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
    bottom: 0;
    width: 100%;
    
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3 ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color:rgba(255, 255, 255, 0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
@media(max-width:577px) 
{
    .footer-col
    {
         width:50%;
         margin-bottom:30px;
    }
}
*{
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  
}