*{
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  
}

.header {
    padding: 40px;
    text-align: center;
    background-image: url("../media/darkleaves.jpg");
    background-color:#016064;
    background-blend-mode:luminosity;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
    font-family: 'PT Sans Caption', sans-serif;
  }
  
  /*navbar sticky*/
  .navbar {
    overflow: hidden;
    background-color: #000000;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  /* Style navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    
  }
  
  
  /* Change color when hover */
  .navbar a:hover {
    background-color: #555;
    color: white;
  }
  
  /* Active link */
  .navbar a.active {
    background-color:#016064;
    color: white;
  }

  .intro p{
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .intro{
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 20px;
    font-size:medium;
    text-align: center;
    
    font-family: 'Source Sans Pro', sans-serif;
  
  }
  
  .intro h1{
    font-family: 'PT Sans Caption', sans-serif;
  }

  .introduction{
    width:100%;
    margin:auto;
    text-align: justify;
    padding-top: -50px;
  }
  .intro{
    background-color: #016064;
    margin-top:10px;
    padding-left: -10px;
    display:flex;
    flex-basis: 31%;
    background: #13363b);
    border-radius: 2px;
    margin-bottom: 5%;
    padding:20px 12px;
    box-sizing:border-box;
    transition: 0.5s;
  }
  
  .intro:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.712);
  }
  .introduction-intro p::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .introduction-intro p:not(:last-child){
    margin-bottom: 10px;
  }
  .introduction-intro p{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3 ease;
  }
  .introduction-intro p:hover{
    color: #ffffff;
    padding-left: 10px;
  }



/*footer*/
.container{
  max-width: 1170px;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.footer{
  width: 100%;
  background-color:#24262b;
  padding: 70px 0;
  bottom: 0;
}

.footer ul{
  list-style: none;
}

.footer-col{
  width: 20%;
  padding: 0 15px;
  justify-content: space-between;
}

.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3 ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 10px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color:rgba(255, 255, 255, 0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;

}

@media(max-width:577px) 

{

    .footer-col

    {

         width:50%;

         margin-bottom:30px;

    }

}
