*{
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  
  
}

.header {
    padding: 40px;
    text-align: center;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
    font-family: 'PT Sans Caption', sans-serif;
  }
  
  /*navbar sticky*/
  .navbar {
    overflow: hidden;
    background-color: #000000;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  /* Style navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  
  /* Change color when hover */
  .navbar a:hover {
    background-color: #555;
    color: white;
  }
  
  /* Active link */
  .navbar a.active {
    background-color: #008000;
    color: white;
  }

#body{
  width: 100%;
  height: auto;
  border: 5px solid black;
}

.intro p{
  font-family: 'Source Sans Pro', sans-serif;
}

.intro{
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  font-size:medium;
  text-align: center;
  border: 5px solid black;
  font-family: 'Source Sans Pro', sans-serif;

}

.into h1{
  font-family: 'PT Sans Caption', sans-serif;
}

.video{
  padding-top:10px;
  cursor: pointer;
  width: 33.33%;
}

.climate{
  width:100%;
  margin:auto;
  text-align: center;
  padding-top: -5px;
}

.row{
  max-width: 100%;
  margin-top:10px;
  padding-left: -10px;
  display:flex;
  justify-content: space-between;
  align-content: center;
}

.col{
  flex-basis: 31%;
  background: #13363b);
  border-radius: 5px;
  margin-bottom: 5%;
  padding:20px 12px;
  box-sizing:border-box;
  transition: 0.5s;
  float: left;
  width: 33.33%;
  border: 5px solid black;
}

.col p{
  margin-top: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: justify;
}

.col h3{
  text-align: center;
  font-weight: 600;
  margin:10px 0px;
  font-family: 'PT Sans Caption', sans-serif;
}

.col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
}

@media(max-width:800px)
{
  .row{
    flex-direction: column;
  }
}

.prevention{
  width:100%;
  margin:auto;
  text-align: left;
  padding-top: -5px;
}

.row1{
  background-color: #e91e63;
  margin-top:10px;
  padding-left: -10px;
  display:flex;
  flex-basis: 31%;
  background: #13363b);
  border-radius: 2px;
  margin-bottom: 5%;
  padding:20px 12px;
  box-sizing:border-box;
  transition: 0.5s;
}

.row1:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
}
.prevention-row1 p::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.prevention-row1 p:not(:last-child){
  margin-bottom: 10px;
}
.prevention-row1 p{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3 ease;
}
.prevention-row1 p:hover{
  color: #ffffff;
  padding-left: 10px;
}

#container{
  width: 100%;
  height: auto;
  border: 5px solid black;
  max-width: 1170px;
  margin: auto;
}

.footer{
  width: 100%;
  background-color:#24262b;
  padding: 70px 0;
  bottom: 0;
}

.footer ul{
  list-style: none;
}

.footer-col{
  width: 20%;
  padding: 0 15px;
  justify-content: space-between;
}

.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3 ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 10px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color:rgba(255, 255, 255, 0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;

}