*{
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

#header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3px ;
  width: 100%;
  height: 150px;
  border: 5px ;
  background-image: url("headerimg.jpg");
  background-size:250px ;
}

#container{
  width: 100%;
  height: auto;
  border: 5px solid black;
}

.logo{
  cursor: pointer;
  margin-right:auto;
  float :left;
  padding-top: 20px;
  display: flex;
  overflow: auto;
}

.navigation{
  list-style: none;
  float:right;
  height: 100%;
  width: 600px;
  
  
}

.navigation li{
  display: inline-block;
  padding: 0px 20px;
  position: relative;
  margin: auto;
  
}
.navigation li a{
   transition: all o.3s ease 0s;
}
.navigation li a:hover{
   color: turquoise;
}
a{
   text-decoration: none;
}
button{
  padding:9px 25x;
  background-color: tomato;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all o.3s ease 0s;
}

button:hover{
  background-color: tomato;
}



.intro{
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-size:medium;
  text-align: center;
}

.video{
  padding-top:10px;
}
.climate{
  width:80%;
  margin:auto;
  text-align: center;
  padding-top: -5px;
}

.row{
  margin-top:10px;
  padding-left: -10px;
  display:flex;
  justify-content: space-between;
  align-content: center;
}

.col{
  flex-basis: 31%;
  background: #c8e3e8);
  border-radius: 5px;
  margin-bottom: 5%;
  padding:20px 12px;
  box-sizing:border-box;
  transition: 0.5s;
}
.h3{
  text-align: center;
  font-weight: 600;
  margin:10px 0px;
}

.col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
}

@media(max-width:700px)
{
  .row{
    flex-direction: column;
  }
}

#footer{
  margin-top: 1300px;
  width: 100%;
  height: 150px;
  border: 5px solid gray;
}