body {
    font-family:'cardo', serif;
    margin: 0;
  }
  
  /* Header Title */
  .header {
    padding: 40px;
    text-align: center;
    background-image: url("Drops.png");
    background-color: #7998a0;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
  }
  
  /*navbar sticky*/
  .navbar {
    overflow: hidden;
    background-color: #000000;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  
  /* Style navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  
  /* Change color when hover */
  .navbar a:hover {
    background-color: #555;
    color: white;
  }
  
  /* Active link */
  .navbar a.active {
    background-color: #7998a0;
    color: white;
  }

  /* first section*/
  .intro{
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    font-size:medium;
    text-align: center;
  }

  *{box-sizing: border-box; -webkit-box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; font: 16px/1.3 sans-serif; }

.CSSgal {
	position: relative;
	overflow: hidden;
	height: 10%; /* Or set a fixed height */
}

/* SLIDER */

.CSSgal .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/*TEXT ATTRIBUTES*/
.CSSgal .slider .a{
    padding-left: 20px ;
    padding-right: 20px;
    color: rgb(255, 255, 255);
}

.CSSgal .slider .b{
    padding-left: 20px ;
    padding-right: 20px;
    color: rgb(0, 0, 0);
}

.CSSgal .slider .c{
    padding-left: 20px ;
    padding-right: 20px;
    color: rgb(255, 255, 255);
}
.CSSgal .slider .d{
    padding-left: 20px ;
    padding-right: 20px;
    color: rgb(0, 0, 0);
}
/* SLIDES */

.CSSgal .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}

.CSSgal .prevNext > div+div {
	visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
	background: #fff;
	position: absolute;
	width:       40px;
	height:      40px;
	line-height: 40px; /* If you want to place numbers */
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.CSSgal .prevNext a:hover {
	opacity: 1;
}
.CSSgal .prevNext a+a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
	position: absolute;
	z-index: 1;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
.CSSgal .bullets > a {
	display: inline-block;
	width:       30px;
	height:      30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
.CSSgal .bullets > a+a {
	background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
/* More slides? Add here more rules */


.CSSgal{
	color: #fff;	
	text-align: center;
}
.CSSgal .slider h2 {
	margin-top: 40vh;
	font-weight: 200;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 3em;
}


.CSSgal a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(23, 235, 16, 0.8);
	text-decoration: none;
}


/*content section 1 */

.c1 h1{
  text-align: center;
  text-decoration: bold;
  padding-top: 30px;
}

.c1 p{
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}